node_modules/
.next/
dist/
*.local
.env
.env.local
.env.*.local
.DS_Store
*.log
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/captures/
android/.externalNativeBuild/
